<header>
  <nav>
    <a href="/">pedi.com</a>
    <ul>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/authors/new">Add Author</a></li>
      <li><a href="/books">books home</a></li>
      <li><a href="/books/new">Add new book</a></li>
    </ul>
  </nav>
</header>